/* rodapé */

footer {
    width: 92.1052631579%;
    background: #b3e6ed;
    border: 1px solid #079fb3;
    border-radius: 15px 15px 0 0;
}


/* conteúdo do rodapé */

.footer-content {
    width: 750px;
    margin: 30px auto 50px;

    display: flex;
}

.footer-content h3 {
    margin-top: 0;
}

.footer-content p {
    margin: 0;
    font-size: 16px
}

.footer-content hr {
    margin: 0 auto;
    border: 1px solid #079fb3;
}


/* sessões do rodapé */

.emails, .copyright {
    width: 40%;
}


.copyright {
    display: flex;
    justify-content: flex-end;
}


/* mobile */

@media (max-width: 950px) {
    .footer-content {
        width: 90%;
    }
}


@media (max-width: 630px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-content hr {
        width: 100%;
        margin: 30px 0;
    }

    .emails, .copyright {
        width: fit-content;
    }

    .emails p {
        text-align: center;
    }
}